# Jekyll build outputs and caches
/_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Ruby & Bundler
.bundle/
vendor/

# Dependency directories
node_modules/
npm-debug.log*
yarn-error.log*

# Logs
logs/
*.log

# Operating system files
.DS_Store
Thumbs.db
desktop.ini

# JetBrains WebStorm / IntelliJ IDEA
.idea/
*.iml
out/

# IDE helpers
.vscode/

# Editor backups and temp files
*~
*.swp
*.tmp

# Miscellaneous
*.pem
cachedData/
files/
.ai/
