<!DOCTYPE html>
<html lang="{{ page.lang | default: site.active_lang | default: site.lang | default: site.default_lang | default: 'el' }}">
<head>
  {% include seo.html %}
  <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@2/css/pico.min.css">
  <link rel="stylesheet" href="{{ '/assets/css/fonts.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/tailwind-build.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/therapy-cove.css' | relative_url }}">
</head>
<body>
  {{ content }}
  <script defer src="{{ '/assets/vendor/flowbite/flowbite.min.js' | relative_url }}"></script>
  <script defer src="{{ '/assets/js/anchor-center.js' | relative_url }}"></script>
  <script defer src="{{ '/assets/vendor/scrollama/scrollama.min.js' | relative_url }}"></script>
  <script defer src="{{ '/assets/js/approaches-tabs.js' | relative_url }}"></script>
  <script defer src="{{ '/assets/js/nav-drawer.js' | relative_url }}"></script>
  <script defer src="{{ '/assets/js/lang-toggle.js' | relative_url }}"></script>
  <script defer src="{{ '/assets/js/contact-form.js' | relative_url }}"></script>
</body>
</html>
